In [5]:
import pandas as pd
import geopandas as gpd
import datetime
import string

In [2]:
#phone info
f = open('track.txt','r')
phone = f.readline()
print 'phone info:',phone
f.close()

phone info: motorola Moto G (4);7.0;1.1.6;2.0.4;video

In [3]:
#read original data from file within track.txt.gz used by OSC to store sensor data
data = pd.read_csv('track.txt',sep=';',
                   skiprows=[0],
                   skipfooter=1,
                   #usecols=[0,1,2],
                   header=None,
                   engine = 'python')
data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,-0.394292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,-0.394292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234,NaN,NaN

In [6]:
#adhoc temporal naming of columns 
names = ['timestamp','long','lat']
[names.append(i) for i in string.letters[0:18]]
data.columns=names

#conversion into timestamp
dates = []
for i in range(data.shape[0]):
    try:
        dates.append(datetime.datetime.fromtimestamp(data['timestamp'][i]))
    except :
        print i
data['dates']=dates
data.head()

,timestamp,long,lat,A,B,C,D,E,F,G,...,J,K,L,M,N,O,P,Q,R,dates
0,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.833742
1,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.833626
2,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.843359
3,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.843273
4,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234,NaN,NaN,2017-04-14 09:35:19.843216

In [17]:
#checking missing data in columns
totalRows= data.shape[0]
for i in list(data.columns):
    print 'Data missing in column %s : %.2f. Min value: %.2f. Max value: %.2f' \
    %(i,data[i].isnull().sum()*100./totalRows,data[i].min(),data[i].max())

Data missing in column timestamp : 0.00. Min value: 1492176919.83. Max value: 1492178563.91
Data missing in column long : 99.67. Min value: -74.00. Max value: -73.97
Data missing in column lat : 99.67. Min value: 40.64. Max value: 40.69
Data missing in column A : 99.67. Min value: -48.00. Max value: 30.00
Data missing in column B : 99.67. Min value: 12.14. Max value: 84.95
Data missing in column C : 99.67. Min value: 0.00. Max value: 7.73
Data missing in column D : 66.81. Min value: -3.14. Max value: 3.14
Data missing in column E : 66.81. Min value: 0.05. Max value: 0.92
Data missing in column F : 66.81. Min value: -0.47. Max value: 0.42
Data missing in column G : 66.81. Min value: -5.13. Max value: 5.72
Data missing in column H : 66.81. Min value: -12.20. Max value: 13.59
Data missing in column I : 66.81. Min value: -16.77. Max value: 14.94
Data missing in column J : 100.00. Min value: nan. Max value: nan
Data missing in column K : 100.00. Min value: nan. Max value: nan
Data missing in column L : 99.89. Min value: 0.00. Max value: 8.00
Data missing in column M : 99.89. Min value: 0.00. Max value: 547.00
Data missing in column N : 66.81. Min value: -0.30. Max value: 0.35
Data missing in column O : 66.81. Min value: -0.71. Max value: 0.80
Data missing in column P : 66.81. Min value: -0.70. Max value: 1.00
Data missing in column Q : 100.00. Min value: nan. Max value: nan
Data missing in column R : 100.00. Min value: nan. Max value: nan

TypeError: float argument required, not Timestamp

# Firts analysis of columns data:
- Columns A,B,C are data related to GPS
- D, E, F, G, H, I have same amaount of missing
- J, K dont have any data whatsoever
- L, M very few data
- N, O, P same missings than D,E,F,G,H,I
- Q, R dont have any data whatsoever

It appears that sensor data is stored in columns D, E, F, G, H, I, N, O, P. For I ould gather from the phone's specs sensors on the phone include Proximity sensor, Accelerometer, Ambient light sensor and Gyroscope. Next step would be to find in wich columns accelerometer data is stored.