In [44]:
import pandas as pd
import geopandas as gpd
import datetime

In [48]:
data = pd.read_csv('track.txt',sep=';',
                   skiprows=[0],
                   skipfooter=1,
                   #usecols=[0,1,2],
                   header=None,
                   engine = 'python')
data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,-0.394292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,-0.394292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234,NaN,NaN

In [49]:
names = ['timestamp','long','lat']
[names.append(i) for i in string.letters[0:18]]
data.columns=names
dates = []
for i in range(data.shape[0]):
    try:
        dates.append(datetime.datetime.fromtimestamp(data['timestamp'][i]))
    except :
        print i
data['dates']=dates

In [50]:
data.head()

,timestamp,long,lat,A,B,C,D,E,F,G,...,J,K,L,M,N,O,P,Q,R,dates
0,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.833742
1,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.833626
2,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.830004,0.194767,-0.211464,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.843359
3,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.469606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-14 09:35:19.843273
4,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234,NaN,NaN,2017-04-14 09:35:19.843216

In [ ]:

#ABC are data related to GPS
#DEFGHI have same amaount of missing
#J,K dont have any data whatsoever
#L M very few data
#NOP same missings than DEFGHI
#
#Q,R dont have any data whatsoever

In [ ]:
caca = ['motorola Moto G (4)','7.0','1.1.6','2.0.4','video']

In [56]:
data.shape

(497512, 22)

In [60]:
data.columns

Index([u'timestamp', u'long', u'lat', u'A', u'B', u'C', u'D', u'E', u'F', u'G',
       u'H', u'I', u'J', u'K', u'L', u'M', u'N', u'O', u'P', u'Q', u'R',
       u'dates'],
      dtype='object')

In [72]:
#data[~(data.L.isnull())]

In [66]:
for i in list(data.columns):
    print i,data[i].isnull().sum()

timestamp 0
long 495877
lat 495877
A 495877
B 495877
C 495877
D 332402
E 332402
F 332402
G 332402
H 332402
I 332402
J 497512
K 497512
L 496964
M 496964
N 332403
O 332403
P 332403
Q 497512
R 497512
dates 0

      timestamp  long  lat                      dates
0  1.492177e+09   NaN  NaN 2017-04-14 09:35:19.833742
1  1.492177e+09   NaN  NaN 2017-04-14 09:35:19.833626
2  1.492177e+09   NaN  NaN 2017-04-14 09:35:19.843359
3  1.492177e+09   NaN  NaN 2017-04-14 09:35:19.843273
4  1.492177e+09   NaN  NaN 2017-04-14 09:35:19.843216