In [1]:
import pandas as pd
import geopandas as gpd
import datetime

In [7]:
#phone info
f = open('track.txt','r')
phone = f.readline()
print 'phone info:',phone
f.close()

phone info: motorola Moto G (4);7.0;1.1.6;2.0.4;video

In [8]:
#read original data from file within track.txt.gz used by OSC to store sensor data
data = pd.read_csv('track.txt',sep=';',
                   skiprows=[0],
                   skipfooter=1,
                   usecols=[0,1,2,3,4,5,9,10,11,16,17,18],
                   header=None,
                   engine = 'python')

#naming of columns 
names = ['timestamp','long','lat','elevation','horizontal_accu',
         'GPSspeed','accelerationX','accelerationY','accelerationZ',
         'gravityX','gravityY','gravityZ'
        ]
data.columns=names

data.head()

,timestamp,long,lat,elevation,horizontal_accu,GPSspeed,accelerationX,accelerationY,accelerationZ,gravityX,gravityY,gravityZ
0,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.469606,0.126763,-0.394292,NaN,NaN,NaN
2,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.492177e+09,NaN,NaN,NaN,NaN,NaN,-0.469606,0.126763,-0.394292,NaN,NaN,NaN
4,1.492177e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234

In [9]:
#conversion into timestamp
dates = []
for i in range(data.shape[0]):
    try:
        dates.append(datetime.datetime.fromtimestamp(data['timestamp'].iloc[i]))
    except :
        print 'Error with row:', i
data['timestamp'] = dates        
data.head()

,timestamp,long,lat,elevation,horizontal_accu,GPSspeed,accelerationX,accelerationY,accelerationZ,gravityX,gravityY,gravityZ
0,2017-04-14 09:35:19.833742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-04-14 09:35:19.833626,NaN,NaN,NaN,NaN,NaN,-0.469606,0.126763,-0.394292,NaN,NaN,NaN
2,2017-04-14 09:35:19.843359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-04-14 09:35:19.843273,NaN,NaN,NaN,NaN,NaN,-0.469606,0.126763,-0.394292,NaN,NaN,NaN
4,2017-04-14 09:35:19.843216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234

In [10]:
#remove all empty rows excepto timestamp
emtpy = data.iloc[:,1:].isnull().sum(axis=1) == data.shape[1]-1
data = data.loc[~emtpy,:]

data.head()

,timestamp,long,lat,elevation,horizontal_accu,GPSspeed,accelerationX,accelerationY,accelerationZ,gravityX,gravityY,gravityZ
1,2017-04-14 09:35:19.833626,NaN,NaN,NaN,NaN,NaN,-0.469606,0.126763,-0.394292,NaN,NaN,NaN
3,2017-04-14 09:35:19.843273,NaN,NaN,NaN,NaN,NaN,-0.469606,0.126763,-0.394292,NaN,NaN,NaN
4,2017-04-14 09:35:19.843216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234
6,2017-04-14 09:35:19.853097,NaN,NaN,NaN,NaN,NaN,-0.469606,0.126763,-0.394292,NaN,NaN,NaN
7,2017-04-14 09:35:19.853047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.205934,0.19355,0.959234