In [1]:
import json
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 
import pandas as pd
import numpy as np
import loadOSCdata

In [2]:
#set the id from OSC
idNotWork = 292590
idWork=219598

In [ ]:

data = loadOSCdata.getOSCjson(idWork)
totalPhotos = len(data['osv']['photos'])


pictureName = [data['osv']['photos'][i]['name'] for i in range(totalPhotos)]
quality = np.repeat(np.nan,totalPhotos)
latitude = [data['osv']['photos'][i]['lat'] for i in range(totalPhotos)]
longitude = [data['osv']['photos'][i]['lng'] for i in range(totalPhotos)]

finalData = pd.DataFrame({'pictureName':pictureName,
                         'quality':quality,
                         'latitude':latitude,
                         'longitude':longitude})

In [3]:
data = loadOSCdata.queryOSCapi(OSCid = idWork,
                               X = True, Y = True, Z = True,
                               output = 'csv', outputFile = 'data.csv',
                              dataType = 'photos')
data.head()

,latitude,longitude,pictureName,quality
0,40.695150,-74.000937,storage3/files/photo/2017/5/16/proc/219598_cdc...,NaN
1,40.695116,-74.000826,storage3/files/photo/2017/5/16/proc/219598_f3c...,NaN
2,40.695085,-74.000754,storage3/files/photo/2017/5/16/proc/219598_156...,NaN
3,40.695051,-74.000639,storage3/files/photo/2017/5/16/proc/219598_799...,NaN
4,40.695029,-74.000569,storage3/files/photo/2017/5/16/proc/219598_d00...,NaN

In [ ]:
data